#--------------------------------------
# ignore default
#--------------------------------------
/*

#--------------------------------------
# root files
#--------------------------------------
!/LICENSE
!/README.md
!/ez-milter.pl
!/ez-milter.user-filter.pm.sample
!/milter_start.sh.sample

#--------------------------------------
# Library
#--------------------------------------
!/Sakia/
!/Sendmail/

